head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Day18: Template Engines
  link(rel='stylesheet' href='https://codepen.io/RenegadeGandhi/pen/KKdrZRe.css' type='text/css')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap' rel='stylesheet')
nav.navbar
  .main-nav
    a(href='#') AGDTDH
    a(href='#to-summary') SUMMARY
    a.push(href='#to-art') ART
.top-image
  img(src='https://i.ibb.co/8cPzNPX/one.jpg' alt='someone i admire')
#to-summary.about
  h2 A GOOD DAY TO DIE HARD
  p.p1
    | A Good Day to Die Hard is a 2013 American action-thriller film and the fifth and final installment in the Die Hard film series. The film was directed by John Moore and written by Skip Woods, and stars Bruce Willis as John McClane. The main plot finds McClane travelling to Russia to get his estranged son, Jack, an undercover CIA agent, out of prison. He is soon caught in the crossfire of a global terrorist plot. Alongside Willis, the film also stars Jai Courtney, Cole Hauser, Yulia Snigir and Sebastian Koch.
  p.p2
    | New York City cop John McClane (Bruce Willis) arrives in Moscow to track down his estranged son, Jack (Jai Courtney). McClane thinks his son is a criminal, so it comes as a shock when he learns that Jack is actually working undercover to protect Komarov (Sebastian Koch), a Russian government whistleblower. With their own lives on the line, McClane and Jack must overcome their differences in order to get Komarov to safety and thwart a potentially disastrous crime in the Chernobyl region.
  p.p3
    | A Good Day to Die Hard premiered in London on January 31, 2013, coinciding with the unveiling of a Die Hard mural at the Fox Lot,[2] and was released the United States on February 13, 2013. It is the first Die Hard film to use Dolby Atmos Surround Mixing and the first to also be released in IMAX theaters. A Good Day to Die Hard was a box office success but received overwhelmingly negative reviews for its implausible action sequences, cinematography, weak plot, cliched screenplay, and lack of characterization, although the special effects were praised. It is the first film produced by TSG Entertainment, since distributor 20th Century Fox's departure from Dune Entertainment upon the completion of their distribution contract at the end of 2012.
  p.p4
    | Marco Beltrami, who had composed the soundtrack for the previous film, Live Free or Die Hard, returned to score A Good Day to Die Hard. Beltrami again incorporates Michael Kamen's material from the first three films into his score. Beltrami only had six weeks in which to write the music, and new scenes were still being shot as the music was being recorded. In the end, he wrote around 120 minutes of music, with 80 of those minutes making it into the final film. The soundtrack album was released on February 14, 2013 digitally and in retailers by Sony Classical.
  p.p5
    | In North America, A Good Day to Die Hard grossed an estimated $840,000 from its night showings at 2,328 locations on Wednesday, February 13, 2013. The next day, at an additional 1,225 locations, the film managed to accumulate $8,239,116, opening at #2 behind Safe Haven. However, for the whole 4-day Presidents' Day weekend, A Good Day to Die Hard opened in first place with $28,640,657, bringing its total at that point to $36,879,773.
  p.credit Credits to wikipedia.com
#to-art.art-gallery
  h2 GALLERY
  .art-gallery-wrapper
    img(src='https://i.ibb.co/WDmFKqx/608875.jpg')
    img(src='https://i.ibb.co/dmVLnC8/608873.jpg')
    img(src='https://i.ibb.co/BGBjR1c/643928.jpg')
    img(src='https://i.ibb.co/pvzzFg4/359462.jpg')
footer
  p Made with love by RenegadeGandhi!